@import url("https://fonts.googleapis.com/css?family=Barlow");

#main-todo {
	font-family: Barlow;
	font-size: 0.95em;
	font-weight: lighter;
	margin-top: -15px;
}

#todo-list-left {
	height: 100%;
	position: fixed;
	left: 0;
	width: 250px;
	background-color: #fafafa;
	padding: 5px;
}

#todo-list-left .left-list-name {
	margin: 20px 10px;
	cursor: pointer;
}

#todo-list-left .icons {
	font-size: 0.8em;
}

#todo-list-left .icon-name {
	position: absolute;
	left: 45px;
	margin-left: 10px;
}

#todo-list-left .total-tasks {
	float: right;
	padding-right: 15px;
	font-size: 0.91em;
}

#expand-left-button {
	margin: 20px 10px;
	cursor: pointer;
}

#expanded-list {
	position: fixed;
	left: 250px;
	right: 0;
	background-color: #eeeeee;
	height: 100%;
	padding: 20px 10px 10px 20px;
	border-left: solid 2px dimgrey;
}

.list .task-list .task-checkbox {
	display: inline-block;
}

#expanded-list .list {
	margin-bottom: 15px;
}

#expanded-list .list .task {
	display: block;
	position: relative;
	padding: 10px 0 7px 0;
	border-bottom: dotted 1px grey;
}

#expanded-list .list .task .task-name {
	line-height: 10px;
}

#expanded-list .list .task input {
	position: absolute;
	cursor: pointer;
	opacity: 0;
	height: 0;
	width: 0;
}

#expanded-list .list .task .checkbox,
.focused-task .checkbox {
	position: relative;
	display: inline-block;
	height: 13px;
	width: 13px;
	background-color: white;
	border: solid 1px lightblue;
	border-radius: 50%;
	margin: -2px 5px;
	cursor: pointer;
}

#expanded-list .list .task .checkbox:hover,
.focused-task .checkbox:hover {
	border: solid 1px #4ea0bb;
}

#expanded-list .list .task.completed .task-name,
.focused-task .task.completed .task-name {
	text-decoration: line-through;
}

#expanded-list .list .task.completed .checkbox,
.focused-task .task.completed .checkbox {
	background-color: #4ea0bb;
}

#expanded-list .list .task .flag-important {
	cursor: pointer;
	float: right;
	position: relative;
	right: 10px;
}

#add-task-button {
	border: none;
	cursor: pointer;
	height: 100%;
	padding: 5px 6px 4px;
	background-color: inherit;
	outline: none;
	font-size: 1.25em;
}

.list input {
	padding: 5px 10px;
}

.list .name {
	background-color: inherit;
	font-size: 1.3em;
	outline: none;
	border: none;
	cursor: pointer;
	margin-bottom: 15px;
	transition: all 0.25s;
}

.list .name:focus {
	background-color: white;
	cursor: text;
	border-radius: 5px;
}

#expanded-list .add-task {
	margin-top: 30px;
}
#expanded-list .add-task input {
	padding: 7.5px;
	outline: none;
	border: none;
	margin-right: 10px;
	border-radius: 5px;
	font-size: 1em;
}

#focused-list-task {
	width: 100%;
	height: 100%;
}

.focused-task {
	display: none;
	position: absolute;
	background-color: white;
	width: 0;
	height: 100%;
	right: 0;
	bottom: 0;
	border-left: solid 2px dimgrey;
	padding: 0 15px;
	box-sizing: border-box;
	font-size: 1.1em;
}

.focused-task.display {
	display: block;
	width: 275px;
}

.focused-task.hidden {
	display: none;
	width: 0;
}

.focused-task .task .checkbox {
}
