@import url("https://fonts.googleapis.com/css?family=Barlow");

#main-todo {
	font-family: Barlow;
	font-size: 0.95em;
	font-weight: lighter;
	margin-top: -15px;
}

#todo-list-left {
	height: 100%;
	position: fixed;
	left: 0;
	width: 250px;
	background-color: #fafafa;
	padding: 5px;
}

#todo-list-left.not-expanded {
	width: 35px;
}

#todo-list-left.not-expanded .icon-name {
	display: none;
}

#todo-list-left.not-expanded .total-tasks {
	display: none;
}

#todo-list-left .left-list-name {
	margin: 20px 10px;
	cursor: pointer;
}

#todo-list-left .icons {
	font-size: 0.8em;
}

#todo-list-left .icon-name {
	position: absolute;
	left: 45px;
	margin-left: 10px;
}

#todo-list-left .total-tasks {
	float: right;
	padding-right: 15px;
	font-size: 0.91em;
}

#expand-left-button {
	margin: 20px 10px;
	cursor: pointer;
}

#expanded-list {
	position: fixed;
	left: 250px;
	right: 0;
	background-color: #eeeeee;
	height: 100%;
	padding: 20px 0 0 0;
	border-left: solid 2px dimgrey;
	min-width: 300px;
}

.list .task-list .task-checkbox {
	display: inline-block;
}

#expanded-list .list {
	margin-bottom: 15px;
}

#expanded-list .list .task {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	padding: 10px 0 10px 15px;
	border-bottom: dotted 1px grey;
}

#expanded-list .list .task:hover {
	background-color: white;
}

#expanded-list .list .task .task-name {
	width: 80%;
	margin: 0 10px;
	flex-grow: 1;
	cursor: pointer;
}

#expanded-list .list .task .checkbox,
.focused-task .checkbox {
	position: relative;
	display: inline-block;
	height: 13px;
	width: 13px;
	background-color: white;
	border: solid 1px lightblue;
	border-radius: 50%;
	margin: 3px 5px;
	cursor: pointer;
}

#expanded-list .list .task .checkbox:hover,
.focused-task .checkbox:hover {
	border: solid 1px #4ea0bb;
}

#expanded-list .list .task.completed .task-name,
.focused-task .task.completed .task-name {
	text-decoration: line-through;
}

#expanded-list .list .task.completed .checkbox,
.focused-task .task.completed .checkbox {
	background-color: #4ea0bb;
}

#expanded-list .list .task .flag-important,
.focused-task .flag-important {
	cursor: pointer;
	float: right;
	position: relative;
	right: 10px;
	color: dimgray;
}

#add-task-button {
	border: none;
	cursor: pointer;
	height: 100%;
	padding: 5px 6px 4px;
	background-color: inherit;
	outline: none;
	font-size: 1.25em;
}

.list input {
	padding: 15px 0 5px 25px;
}

.list .name {
	background-color: inherit;
	font-size: 1.3em;
	outline: none;
	border: none;
	cursor: pointer;
	margin-bottom: 15px;
	margin-left: 10px;
	padding: 10px;
	transition: all 0.25s;
}

.list .name:focus {
	background-color: white;
	cursor: text;
	border-radius: 5px;
}

.list .due-date {
	margin-top: 10px;
}

.list .due-date-hide {
	display: none;
}

#expanded-list .add-task {
	margin-top: 30px;
	margin-left: 15px;
}
#expanded-list .add-task input {
	padding: 7.5px;
	outline: none;
	border: none;
	margin-right: 10px;
	border-radius: 5px;
	font-size: 1em;
}

#expanded-list.shrink {
	right: 330px;
}

#todo-list-left.not-expanded + #focused-list-task #expanded-list {
	left: 45px;
}

#focused-list-task {
	width: 100%;
	height: 100%;
}

.focused-task {
	display: none;
	position: absolute;
	background-color: white;
	width: 0;
	height: 100%;
	right: 0;
	bottom: 0;
	border-left: solid 2px dimgrey;
	padding: 15px;
	box-sizing: border-box;
	font-size: 1.1em;
}

.focused-task.display {
	display: flex;
	flex-direction: column;
	width: 330px;
	min-height: 550px;
	top: 0;
}

.focused-task.hidden {
	display: none;
	width: 0;
}

.focused-task .box {
	display: flex;
	background-color: #eeeeee;
	padding: 10px 15px;
	height: auto;
	border: solid 1px lightgrey;
	margin-bottom: 15px;
	font-size: 0.8em;
}
.focused-task .box .list {
	padding: 10px 0;
}

.focused-task .box.task {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 15px 10px;
	font-size: 0.9em;
}

.focused-task .box.task .checkbox {
	flex-shrink: 0;
}
.focused-task .box.task .task-name {
	flex-grow: 1;
	margin: 0 12px 0 0;
}

.focused-task .box.tools {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
}

.focused-task .box.tools .list {
	padding: 20px 5px;
	cursor: pointer;
}

.focused-task .box.tools .list:nth-child(1),
.focused-task .box.tools .list:nth-child(2) {
	border-bottom: 1px solid lightgrey;
}

.focused-task .box.note textarea {
	background-color: inherit;
	width: 100%;
	height: 100px;
	border: none;
	resize: none;
	outline: none;
}

.focused-task .box.note:focus-within {
	border-color: grey;
}

.focused-task #bottom-tools {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	bottom: 10px;
	width: 328px;
	border-top: 1px solid lightgrey;
	padding: 10px 15px 0;
	margin: 0;
	left: 0;
	box-sizing: border-box;
	box-shadow: 0 -1px 1px 0px lightgrey;
}

.focused-task #bottom-tools .tool {
	cursor: pointer;
	font-size: 1em;
}

.focused-task #bottom-tools .date-created {
	font-size: 0.7em;
}
